* {
  font-family: Maple Mono;
  background: transparent;
  color: #d8cab8;
}

#window {
  color: #d8cab8;
  border-color: #AC82E9;
  border-style: solid;
  border-width: 1px;

  /*Linear gradient background instead of standard background, because it makes cleaner border-radius cuts, issa bug :p*/
  background-image: linear-gradient(to bottom, #141216, #141216);
  border-radius: 14px;
}
#scroll {
  border-top-style: solid;
  border-width: 1px;
  border-color: #AC82E9;
}
#inner-box {
  padding-top: 12px;
}
#entry {
  border-style: none;
  border-color: #d8cab8;
  color: #d8cab8;
  padding: 6px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-right: 12px;

  border-radius: 12px;
}

#entry:selected {
  background: #27232b;
  color: #d8cab8;
  font-weight: bold;
  outline: none;
}

#input {
  background-color: #141216;
  color: #d8cab8;
  border-color: #d8cab8;

  border-style: none;
  border-bottom-style: solid;
  border-width: 1px;

  font-style: normal;

  border-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  padding: 12px;
  margin: 8px;
}
#input:focus {
  background: #27232b;
  background-color: #27232b;
  border-color: #AC82E9;
  font-weight: bold;
}

#img {
  padding: 4px;
  margin-right: 6px;
}
